body,html{
  background-color:#ccc;
  margin:0;
  padding:0;
}

.above_fold,
.below_fold{
  width:50%;
  margin:0 auto;
  padding:40px;
}

.above_fold{
  background:red;
  height:1000px;
}
.below_fold{
  background:blue;
  height:1000px;
}

h2{
  color: white;
}

h3{
  color: green;
}

div h2{
  color: black;
}